html{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
/*  CLOUDS  */

.cloud1{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}
.cloud2{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}

.cloud3{
  position: fixed;
  top: 15%;
  z-index: -2;
  opacity: .5;
}

/*  LOGO  */
#jecrc{
  position: absolute;
  left: -10%;
  top: 10px;
  z-index: 10;
}

.ren{
  text-align: center;
}
.logo_ren{
  position: absolute;
  top: -18px;
  left: 5%;
  animation: pop 5.5s;
  z-index: 1;
  animation-fill-mode: both;
}
@keyframes pop {
  from{
    -webkit-transform: translate(0px,-200px);
  }
  to{
    -webkit-transform: translate(0px , -28px);
    }
}

.itenary{
  animation: log 1s;
  animation-delay: .5s;
  animation-timing-function:
  animation-fill-mode: both;
  animation-fill-mode: both;
}

.quanta{
  animation: log 1s;
  animation-delay: 1.5s;
  animation-timing-function:
  animation-fill-mode: both;
  animation-fill-mode: both;
}


.endeavour{
  animation: log 1s;
  animation-delay: 2.5s;
  animation-timing-function:
  animation-fill-mode: both;
  animation-fill-mode: both;
}


.splash{

  animation: log 1s;
  animation-delay: 3.5s;
  animation-timing-function:
  animation-fill-mode: both;
  animation-fill-mode: both;
}

.zarurat{
  animation: log 1s;
  animation-delay: 4.5s;
  animation-timing-function;
  animation-fill-mode: both;
}

.logo img{
  margin-top: 70%;
  padding: 0%;
  border: skyblue 2px;
  border-spacing: 10px;
  border-style: groove;
  border-radius: 50%;

}



@keyframes log {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo img:hover{
  transform: scale(1.2);
}


.logo2 img:hover{
  transform: scale(1.2);
}
