html{
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
/*  CLOUDS  */

.cloud1{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}
.cloud2{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}

.cloud3{
  position: fixed;
  top: 15%;
  z-index: -2;
  opacity: .5;
}

/*  LOGO  */
#jecrc{
  position: absolute;
  left: -10%;
  top: 10px;
  z-index: 10;
}

.ren{
  text-align: center;
}
.logo_ren{
  position: absolute;
  top: -18px;
  left: 5%;
  animation: pop 8s;
  z-index: 1;
  animation-fill-mode: both;
}
@keyframes pop {
  from{
    -webkit-transform: translate(0px,-200px);
  }
  to{
    -webkit-transform: translate(0px , -28px);
    }
}

.jumbo{
  margin-top: 20%;
  text-align: center;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-family: 'Futura Medium', serif;
  color: white;
}

.anshul{
  margin-top: 40%;
  margin-left: 10%;
  animation: log .5s;
  animation-delay: 0s;
  animation-fill-mode: both;
}

.name{
  text-align: center;
  color: white;
  margin-top: 1%;
}


.inactive{
	color: white;
  text-align: center;
}

.logo img{
  margin-top: 100px;
  padding: 0%;

}


.logo2 img{
  margin-top: 0px;
  padding: 0%;

}

@keyframes log {
    from { opacity: 0; }
    to { opacity: 1; }
}

.logo img:hover{
  transform: scale(1.2);
}


.logo2 img:hover{
  transform: scale(1.2);
}
