html{
  padding: 0;
  margin: 0;
  overflow-y: visible;
  overflow-x: hidden;
}
body{
  background: url(img/background3.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.ren{
  position: absolute;
}
.jecrc{
  position: absolute;
  left: 42%;
}
.all{
  position: absolute;
  top: 170px;
}
.heading{
  text-align: center;
  margin-top: 5%;
}
ul{
  text-align: center;
}
.about{
  margin-top: 10%;
  text-align: center;
}
.ribbon{
  position: absolute;
  top: 50px;
  left: -70px;
  text-align: center;
}

.ribbon{
  position: absolute;
  top: 20px;
  left: -70px;
  text-align: center;
}
.reg{
  margin-top: 10%;
}
.small{
  font-size: 11px
}
.small1{
  padding: 0;
  margin: 0;
}
.blue{
  color: blue;
}
