@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);
body {
  background: #fff;
  font-family:'Open Sans', Arial, sans-serif;
  background-color: #3f1b0f;
  color:#333;
  line-height:1.6em;
}





/*Gallery*/

* {
  box-sizing: border-box;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.demo {
  opacity: 0.6;
  margin: 1rem;
  height: 25vh;
}

.active,
.demo:hover {
  opacity: 1;
}

@ Media

.mySlides {
  display: none;
  margin-bottom: 2rem;
}

.slides{
    margin: 0 auto;
    height: 50vh;
}

@media only screen and (max-width: 625px) {
  .slides{
    margin: 0 auto;
    width: 100%;
}
.demo{
  height: 11vh;
}
}


.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40vh;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ff5555;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.prev {
  left:0;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #020202;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img {
  margin-bottom: -4px;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}



img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.head{
  height: 20%;
    width: 100%;
    position: relative;
    margin-top: 14px;
}
.logo{
  width: 20%;
    top:32%;
    position: absolute;
}

.logo_img{
  width: 100%;
  height: 100%;
}

.ren_logo{
      position:relative;
    width: 45%;
    height: auto;
    margin: auto;
}
.ren_img{
  height: 100%;
  width: 100%;y
}

.gal_name {
    text-align: center;
    font-size: 55px;
    font-family: 'Laila', serif;
    color: #dbad41;
}