html , body {
	margin: 0;
	padding: 0;
	font-family:"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 1rem;
	font-weight: 400;
	color: #212529;
	background-color: #3f1b0f;
	height: 100%;
	width: 100%;
}

.head {
	display: block;
	position: relative;
	width: 100%;
	height: 30%;
}

.mid {
	position: relative;
	width: 100%;
	height: 50%;
	display: flex;

}

.foot {
	/*display: block;*/
	/*z-index: 55;*/
	position: fixed;
	width: 100%;
	height: auto;
	bottom: 0;
}
.mover-1{
	/*min-height:auto;*/
	max-height: 12vh ;
	width: 100%;
}

/* Loader */
#center-preload{
	position: fixed;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 999;
}
#suns {
	position: relative;
	width: 100%;
	top: 23%;
}
.ren-logo{
	width: 100%;
}
.sunss{
	position: absolute;
	top: 29%;
	right: 0;

}
#sun1{
	width: 100%;
}
/* End */
/*Gate*/

.Absolute-Center {
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}
.gate-contain{
	z-index: 5;
	width: 75%;
	height: 100%;
	display: flex;

}
.gate1, .gate2{
	
	position: relative;
	display: block;
	height: 100%;
	width: 100%;
}
.gate_img{
	
	height: 100%;
	width: 100%;
	transform-origin: left;
	transition: all 1s ease-in-out;
}
.right{
	transform-origin: right;
}


.padlock-img{
	width: 25vw;
	z-index: 6;
	position: fixed;
	bottom: 20%;
	left: 37.3% ;
	right: auto;
	transform: translateX(-50%)!important;
}
.padlock-ani{
	transform: scale(1);
	animation: swing1 0.3s ease-in-out alternate;
	animation-iteration-count: infinite;
}
.padlock:hover{
	animation: paused;
	cursor: pointer;
}
@keyframes swing1 {
	0% { transform: rotate(3deg); }
	100% { transform: rotate(-3deg); }
}


.doorOpenRight
{

	/*prespectiv creates the door open effect*/
	transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(105deg);
}
.doorOpen
{

	/*prespectiv creates the door open effect*/
	transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}

@media only screen and (max-width: 700px){
	.gate-contain{
		width: 75%;
	}
	/*.padlock-img{*/
		/*width: 15vw;*/
		/*}*/
	}
	@media only screen and (min-width: 900px){
		.padlock-img{
			width: 17vw;
			left: 50.3%;

		}

	}

	.unlock	{
		animation: moveLock 2s;
		animation-fill-mode: forwards;
		/*margin: 0;*/
	}
	.lock1{
		animation: moveLock1 2s;
		animation-fill-mode: forwards;
		/*margin:0;*/
	}

	@keyframes moveLock {
		0%{}

		100%{left:8%; }
	}
	@keyframes moveLock1 {
		0% {left: 8%;}


		100%{left: 50%;}
	}

	/*KNOBS*/
	.knobs-right, .knobs-left{
		position: absolute;
		display: table;
		z-index: 6;
		max-width: 7vw;
		min-width: 7vw;
		bottom: 10%;
	}
	.knob-img{
		width: 100%;
		object-fit: contain;
		display: block;
	}
	.knob-about, .knob-spnsr{
		margin-bottom: 30%; padding-bottom: 40%;
	}

	.knobs-left{
		left: 25%;
	}
	.knobs-right{
		right: 25%;
	}
	@media only screen and (max-width: 900px){
		.knobs-right, .knobs-left{
			max-width: 14vw;
			/*bottom: 20%;*/
		}
		.knob-about, .knob-spnsr{
			margin-bottom: 40%; 
			padding-bottom: 40%;
		}
	}


	/*KNOBS MOVEMENT ANIMATION*/
	.moveAb	{
		animation: moveAbout 2s;
		animation-fill-mode: forwards;
		/*margin: 0;*/
	}
	.moveAb-back{
		animation: moveAbout1 2s;
		animation-fill-mode: forwards;
		/*margin:0;*/
	}
	.moveSocial	{
		animation: moveSocial 2s;
		animation-fill-mode: forwards;
		/*margin: 0;*/
	}
	.moveSocial-back{
		animation: moveSocial1 2s;
		animation-fill-mode: forwards;
		/*margin:0;*/
	}
	.moveSpnsr	{
		animation: moveSpnsr 2s;
		animation-fill-mode: forwards;
		/*margin: 0;*/
	}
	.moveSpnsr-back{
		animation: moveSpnsr1 2s;
		animation-fill-mode: forwards;
		/*margin:0;*/
	}
	.moveGal	{
		animation: moveGal 2s;
		animation-fill-mode: forwards;
		/*margin: 0;*/
	}
	.moveGal-back{
		animation: moveGal1 2s;
		animation-fill-mode: forwards;
		/*margin:0;*/
	}



	@keyframes moveSpnsr {
		0%{}

		100%{ transform: translateX(350%) translateY(-70%);}
	}
	@keyframes moveSpnsr1 {
		0% {transform: translateX(350%) translateY(-70%);}


		100%{}
	}
	@keyframes moveSocial {
		0%{}

		100%{ transform: translateX(350%) translateY(50%);}
	}
	@keyframes moveSocial1 {
		0% {transform: translateX(350%) translateY(50%);}


		100%{}
	}


	/*LEFT ANIMATIONS*/
	@keyframes moveAbout {
		0%{}

		100%{ transform: translateX(-350%) translateY(-70%);}
	}
	@keyframes moveAbout1 {
		0% {transform: translateX(-350%) translateY(-70%);}


		100%{transform: translate(0,0);}
	}
	@keyframes moveGal {
		0%{}

		100%{ transform: translateX(-350%) translateY(50%);}
	}
	@keyframes moveGal1 {
		0% {transform: translateX(-350%) translateY(50%);}


		100%{}
	}



	/*Animation for small*/

	@media only screen and (max-width: 900px){

		@keyframes moveSpnsr {
			0%{}

			100%{ transform: translateX(150%) translateY(-70%);}
		}
		@keyframes moveSpnsr1 {
			0% {transform: translateX(150%) translateY(-70%);}


			100%{}
		}
		@keyframes moveSocial {
			0%{}

			100%{ transform: translateX(150%) translateY(50%);}
		}
		@keyframes moveSocial1 {
			0% {transform: translateX(150%) translateY(50%);}


			100%{}
		}


		/*LEFT ANIMATIONS*/
		@keyframes moveAbout {
			0%{}

			100%{ transform: translateX(-150%) translateY(-70%);}
		}
		@keyframes moveAbout1 {
			0% {transform: translateX(-150%) translateY(-70%);}


			100%{transform: translate(0,0);}
		}
		@keyframes moveGal {
			0%{}

			100%{ transform: translateX(-150%) translateY(50%);}
		}
		@keyframes moveGal1 {
			0% {transform: translateX(-150%) translateY(50%);}


			100%{}
		}
	}
	/*End*/


	/* Home Desktop */
	.full {
		width: 100%;
		position: fixed;
		height: 100%;
	}


	.jharokha {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 5;
	}
	.jharoka-back{
		z-index: 4;
	}
	.jharokha_img {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: 5;
	}
	.marg_top{
		width: 100%;
		height:12%;
	}
	.logo {
		width: 100%;
		height: 40%;
		display: block;
		text-align: center;
		position: relative;
	}

	.logo_img {
		position: relative;
		width: 100%;
		height: 100%;
		object-fit: scale-down;
		margin-left: auto;
		margin-right: auto;
	}
	.top-logo{
		width: 100%;
		height: 25%;

	}
	.ren_logo {
		width: 100%;
		height: 60%;
		display: block;
		text-align: center;
		position: relative;
		margin-top: 10px;
	}
	@media only screen and (max-width: 900px){
		.ren_logo{
			width: 57%;
			margin-left: auto;
			margin-right: auto; 
		}

		.logo{
			width: 17%;
			margin-left: auto;
			margin-right: auto; 
		}
	}
	.ren_img {
		position: relative;
		width: 100%;
		height: 100%;
		max-width: 509px;
		object-fit: fill;
	}

	.mid_desk {
		position: relative;
		width: 54%;
		height: 44%;
		display: flex;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		z-index: 4;
	}
	.hang1 { 
		width: 13%;
		margin-top: -79px;
		position: relative;
		height: 146%;
		transform-origin: 50% 0;
		animation: moveIt1 4.5s ease-in-out infinite;
	}

	.hang2 {
		width: 13%;
		margin-top: -80px;
		position: relative;
		height: 146%;
		transform-origin: 50% 0;
		animation: moveIt2 4.5s ease-in-out infinite;
	}

	.rangoli {
		width: 74%;
		height: 100%;
		position: relative;
	}

	.hang1_d1 {
		width: 83%;
		height: 58%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.hang1_img {
		width: 100%;
		height: 100%;
		cursor: zoom-out;
	}

	.hang1_d2 {
		width: 86%;
		height: 15%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hover_icon:hover {
		-ms-transform: scale(1.2); /* IE 9 */
		-webkit-transform: scale(1.2); /* Safari 3-8 */
		transform: scale(1.2); 
	}
	.hang1_icon {
		margin-top: -4px;
		height: 100%;
		text-align: center;
		width: 100%;
	}

	.hang2_d1 {
		width: 100%;
		height: 17%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hang2_img {
		width: 100%;
		height: 100%;
	}


	.hang2_d2 {
		width: 86%;
		height: 15%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hang2_icon {
		width: 100%;
		height: 100%;
		margin-top: -7px;
	}

	.rang_img {
		height: 83%;
		z-index: 0;
		position: relative;
		margin-top: 31px;
	}
	@media only screen and (max-width: 650px){
		.rang_img{
			width: 100%;
			height: auto;
			margin: 0;

		}

		.rangoli{
			padding-top: 4vh;
		}
	}
	@media only screen and (max-width: 400px){
		.rangoli{
			padding-top: 11vh;
		}
	}
	.cenline_img {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 28%;
		top: 12px;
		margin: auto;
	}

	.hang3_d1 {
		width: 83%;
		height: 58%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.hang3_img {
		width: 100%;
		height: 100%;
	}

	.hang3_d2 {
		width: 86%;
		height: 15%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hang3_icon {
		margin-top: -4px;
		height: 100%;
		text-align: center;
		width: 100%;
	}

	.hang4_d1 {
		width: 100%;
		height: 17%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hang4_img {
		width: 100%;
		height: 100%;
	}


	.hang4_d2 {
		width: 86%;
		height: 15%;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.hang4_icon {
		width: 100%;
		height: 100%;
		margin-top: -7px;
	}
	/* Home Desktop End */


	/* Home mobile */

	.jharokha_mob {
		width: 100%;
		position: relative;
		height: fit-content;
	}

	.jharokha_img_mob {
		max-height: 100%;
		width: 100%;
	}

	.logo_mob {
		width: 100%;
		z-index: 20;
		margin-top: -32%;
		position: relative;
		text-align: center;
	}

	.logo_img_mob {
		max-height: 86px;
	}

	.ren_logo_mob {
		display: block;
		position: relative;
		width: 100%;
		margin-top: 18px;
		z-index: 20;
		text-align: center;
	}

	.ren_img_mob {
		max-width: 695px;
		max-height: 181px;
		height: auto;
		width: auto;
	}

	.hang1_mob { 
		width: 16%;
		margin-top: -283px;
		position: relative;
		margin-left: 40px;
	}

	.hang2_mob {
		width: 16%;
		margin-top: -283px;
		position: relative;
		margin-right: 40px;
	}

	.rangoli_mob {
		width: 60%;
		margin: auto;
		position: relative;
		top: 0;
		left: 0;
	}

	.hang1_img_mob {
		display: block;
		width: 100%;
		height: 755px;
	}

	.hang1_icon_mob {
		display: block;
		width: auto;
		max-height: 100%;
		max-width: 100%;
		margin-right: auto;
		margin-left: auto;
		margin-top: -7px;
	}

	.hang2_img_mob {
		display: block;
		width: 100%;
		height: 175px;
	}

	.hang2_icon_mob {
		display: block;
		width: auto;
		max-height: 100%;
		max-width: 102%;
		margin-right: auto;
		margin-left: auto;
		margin-top: -7px;
	}

	.rang_img_mob {
		width: 103%;
		height: 89%;
		z-index: 0;
		position: relative;
		top: 0;
		left: 0;
	}

	.cenline_img_mob {
		width: 33%;
		top: 203px;
		z-index: 1;
		margin-left: 201px;
		position: absolute;
	}

	#rotateleft {
		-webkit-animation: rotation 10s infinite linear;
	}

	@-webkit-keyframes rotation {
		from {
			-webkit-transform: rotate(0deg);
		}
		to {
			-webkit-transform: rotate(359deg);
		}
	}

	#rotateright {
		-webkit-animation: rotation 10s infinite linear;
	}

	@-webkit-keyframes rotation {
		from {
			-webkit-transform: rotate(-0deg);
		}
		to {
			-webkit-transform: rotate(-359deg);
		}
	}

	/* Home mob end */

	/* Footer */
/*
.tech-slideshow {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.tech-slideshow > img {
	height: 100%;
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
	animation: moveSlideshow 12s linear infinite;
	width: 100%;
	height: 100%;
}

@keyframes moveSlideshow {
	100% { 
	transform: translateX(-66.6666%);  
}
}*/

@keyframes moveIt1 {
	0%,
	100% {
		transform: rotate(6deg);
	}
	50% {
		transform: rotate(-6deg);
	}
}

@keyframes moveIt2 {
	0%,
	100% {
		transform: rotate(-6deg);
	}
	50% {
		transform: rotate(6deg);
	}
}
.hang2:hover{
	animation-play-state: paused;
}
.hang1:hover{
	animation-play-state: paused;
}
.cenpunch_ani{
	transform: scale(1);
	animation: up 5s ease-in-out;
	animation-iteration-count: infinite;
}
.cenpunch_ani:hover{
	animation: paused;
	cursor: pointer;
}
@keyframes up {
	0% {-webkit-transform: translate(0px, 0px) scale(1);;}
	50% {-webkit-transform: translate(0px, 0px) scale(1.3);;}
	100% {-webkit-transform: translate(0px, 0px) scale(1);;}
}

.quant_in{
	width: 100%;
	height:100%;

}

.jharokha_in {
	width: 100%;
	height: 67%;
	position: absolute;
}

.jharokhain_img{
	width: 100%;
	height: 69%;
}

.margin_top{
	width: 100%;
	height: 17%;
}

.topin_logo{
	width: 100%;
	height: 25%;
}
.logo_in{
	width: 100%;
	height: 40%;
	display: block;
	text-align: center;
	position: relative;
}

.logoin_img{
	position: relative;
	width: 100%;
	height: 100%;
	object-fit: scale-down;
	margin-left: auto;
	margin-right: auto;

}

.renlogo_in{
	width: 100%;
	height: 60%;
	display: block;
	text-align: center;
	position: relative;
}

.renin_img{
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 509px;
	object-fit: fill;
}

@media only screen and (max-width: 900px){
	.renlogo_in{
		width: 57%;
		margin-left: auto;
		margin-right: auto; 
	}

	.logo_in{
		width: 17%;
		margin-left: auto;
		margin-right: auto; 
	}
}
.mid_in{
	width: 100%;
	height: 50%;
	margin-top: 5%;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

@media only screen and (max-width: 900px){
	.mid_in{
		width: 100%;
		height: 50%;
		margin-top: 5%;
		display: block;
		position: relative;
		margin-right: auto;
		margin-left: auto;
	}
	.owl-carousel .owl-stage-outer {
		position: relative;
		overflow: hidden;
		-webkit-transform: translate3d(0px,0,0);
		margin-left: 30px;
	} 
}

.frame1{
	position: relative;
}

.frame1_img{
	height: 100%;
	width: 100%;
	position: relative;
}
.frame1_icon{
	position: absolute;
	width: 80%;

}

.owl-item.center > div:after {
	content: '';
}
.owl-item.active.center > div:after {
	content: '';
}
.owl-item > div:after {
	font-family: sans-serif;
	font-size: 24px;
	font-weight: bold;
}


.img-fluid1{
	height: 150px;
	width: auto;
}

.topframe_left{
	position: relative;
	width: 100%;
	top: 46px;
	max-width: 100%;
	max-height: 100%;
}

.topframe_right{
	position: relative;
	width: 100%;
	top: 46px;
	max-width: 100%;
	max-height: 100%;
}

.top_left {
	position: relative;
	width: 10%;
	height: 100%;
	margin-left: 22px;
	float: left;
}

.top_right{
	position: relative;
	width: 10%;
	height: 100%;
	margin-right: 22px;
	float: right;
}
.dept_qant{
	width: 100%;
	height: 100%;
}

.marg_dept{
	margin: auto;
}
.mid_quant{
	width: 100%;
	height: 50%;
	margin-top: 115px;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}

.dept_team {
	padding-left: 34px;
	height: 93%;
}
.mid_team {
	width: 100%;
	height: 50%;
	margin-top: 50px;
	display: block;
	position: relative;
	margin-right: auto;
	margin-left: auto;
}
.team_img{
	width: auto;
	height: 190px;
}

.team_name {
	font-family: 'Open Sans', sans-serif;
	color: #8BC34A;
	font-size: 27px;
}
.team_title{
	font-family: 'Open Sans', sans-serif;
	color: #fdfdfd;
	font-size: 15px;
}

/*PLATES ANIMATIONS*/
.team-img{
	left:13%;
}
.support-img{
	right: 13%;
}
.plate{
	position: absolute;
	z-index: 6;
	max-width: 12vw;
	min-width: 9vw;
	top:5%;
}
@media only screen and (max-width: 900px){
	.plate{
		top: 8%;
	}
}

.row {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.hoverteam_icon:hover{
	-ms-transform: scale(1.02); /* IE 9 */
	-webkit-transform: scale(1.02); /* Safari 3-8 */
	transform: scale(1.02); 	
}