/*Support*/
body{
	margin:0;
}

.certificate_top{
	width: 100%;
	height:12%;
}

.certificate {
	width: 100%;
	height: 100%;
	position: absolute;
	/*z-index: 5;*/
}
.certificate_img {
	width: 100%;
	position: absolute;
	height: 100%;
}

.certificate_main{
	position: absolute;
	margin: auto;
	top: 24%;
	right: 0;
	left: 0;
	z-index: 1;
	width: 75%;
	height: 59%;
	overflow-y: scroll;
	background: #e6e3df;
	opacity: 0.7;
	border-radius: 20px;
}

@font-face {
	font-family: "SAMAN___";
	src: url("../fonts/SAMAN___.TTF");
}

.nav_style1{
	font-family: 'SAMAN___',Arial ;
	color: #e91e63; 	
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #fff;
	background-color: #e91e63;
}

.tab_cont{
	font-family: sans-serif;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.cont_height{
	line-height: 2;
}
*{
	font-size: 17px;
}
@media only screen and (max-width: 600px){
	*{
		font-size: 14px;
	}
}




.div .ul .p{
	text-align: center;

}
/*.padding{
	padding-top: 48px;
	}*/
	.top_font{
		font-family: 'SAMAN___',Arial;
		color: #ce650f;
	}
	ul{
		padding: 0;
		text-align: justify;
	}
	.certificate_main {
		overflow-y: scroll;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* IE 10+ */
	}
	.certificate_main::-webkit-scrollbar { /* WebKit */
		width: 0;
		height: 0;
	}
	.dateOfEvent{
		position: absolute;
		bottom: 5%;
		width: 100%; 
		z-index: 0;
	}
	.date{
		object-fit: contain;
		max-height: 100px;
		height: 5%;
		width: 100%;
		margin-right: auto;
		margin-left: auto;
	}
	@media only screen and (min-width: 800px ){
		.dateOfEvent{
			top: 7%;
			right: 14%;
			width: auto;
			bottom: auto;
		}

	}

	.certificate_intnary {
		position: relative;
		margin: auto;
		top: 24%;
		right: 0;
		left: 0;
		width: 90%;
		height: 58%;
		background-color: #e6e3df;
		overflow-y: scroll;
		border-radius: 20px;
	}


	.top_icon{
		width: 100%;
		height: 7%;
		margin-left: auto;
		margin-right: auto;
	}
	.left {
		position: relative;
		width: 5%;
		float: left;
	}

	.left_img {
		width: 75%;
		height: 100%;
	}

	.home{
		position: relative;
		width: 5%;
		float: right;
	}
	.home_img {
		width: 75%;
		height: 100%;
	}

	.mid_new{
		margin: auto;
		top: 0;
		right: 0;
		left: 0;
		position: absolute;
		width: 75%;
		height: 60%;
		bottom: 0;
	}

	.certificate_new {
		position: relative;
		margin: auto;
		right: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow-y: scroll;
		background: #e6e3df;
		opacity: 0.7;
		border-radius: 20px;
		scrollbar-width: none; /* Firefox */
		-ms-overflow-style: none;  /* IE 10+ */
	}
	.certificate_new::-webkit-scrollbar { /* WebKit */
		width: 0;
		height: 0;
	}
