html{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: none;
  margin: none;
}
footer, body, header{
  padding: 0;
  margin: 0;
}
body {
  background-image: url("img/farme.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
  padding: none;
  margin: none;
  -webkit-perspective: 2000px;
  min-height: 100%;
  position: relative;
}


.cloud1{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}
.cloud2{
  position: fixed;
  top: 5%;
  z-index: -2;
  opacity: .5;
}

.cloud3{
  position: fixed;
  top: 15%;
  z-index: -2;
  opacity: .5;
}
/*

.nav {
  position: absolute;
  top: 130px;
  margin-left: 700px;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-style: italic;
  color: black;
  z-index: 99;
}

.nav .inactive{
  font-style: normal;
  font-family: 'Ultra', serif;

}

.nav .active {
  padding: 0px;
  font-style: normal;
  font-family: 'Ultra', serif;
}

.about h4{
  padding: 5px;
  line-height: 2em;
  position: absolute;
  top: 250px;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}


.about h1{
  text-align: center;
  font-size: 3.5em;
  margin-top: -50px;
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
}

.about2 h1{
  font-family: 'Abril Fatface', cursive;
}


.about2 h5{
  padding: 10px;
  position: absolute;
  top: 120px;
  line-height: 1.1em;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.click{
  position: absolute;
  top: 450px;
  left: 60%;
}

.click:hover{
  font-size: 1.5em;
}*/

#home{
  position: absolute;
  top: 100px;
  left: 200px;
}


.nav {
  margin-top: 8%;
  text-align: center;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
  font-family: 'Futura Medium', serif;
  font-style: italic;
  color: black;
  text-decoration: underline;
  z-index: 99;
}

.about h4{
  padding: 0px;
  line-height: 2em;
  position: fixed;
  left: 10px;
  text-align: center;
  width: 100%;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}


.about h3{
  margin-top: 5%;
  text-align: center;
  font-size: 3em;
  font-family: 'Abril Fatface', cursive;
  font-style: normal;
}

.reg h2{
  margin: 10px;
  left: -0px;
  font-family: 'Abril Fatface', cursive;
}

.reg p{
  padding: 70px;
  margin-top: -5%;
  line-height: 2.5em;
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.click {
  text-align: center;
  margin-top: 5%;
}

.click p, a{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

.nav a{
  font-style: normal;
  font-family: 'Ultra', serif;
}

#menu2 h4{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}

#menu2 h2{
  font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;
}
